* {
  box-sizing: border-box;
}
.container {
  display: grid;
  row-gap: 2vw;
  width: 360px;
  margin: auto;
}

.dices {
  display: flex;
  justify-content: space-evenly;
  font-size: 28px;
}

.dice {
  display: block;
  padding: 10px;
  cursor: pointer;
  background: #ddd;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 5px;
  line-height: 40px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.selected {
  background: rgb(169, 186, 223);
}

button {
  padding: 30px;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1vw;
  padding: 10px;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  border: 1px solid #988;
  border-radius: 8px;

}

.result {
  display: flex;
  margin: 10px 0;
  height: 48px;
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;
}
.result.saved {
  border: 1px solid #e0e0e0;
  color: #999;
  cursor: not-allowed;
}
#yahtzee {
  /* grid-column: span 2; */
  /* height: 72px; */
  /* line-height: 66px; */
}
#total {
  grid-column: span 2;
  height: 72px;
  line-height: 66px;
}
.result>.name {
  flex: 2;
  background-color: #bed6e4;
}
.result.saved>.name {
  background-color: #e6edf1;
}

.result>.score {
  flex: 1;
  background-color: #fff3cc;
  border: 3px solid transparent;
  border: inset 3px #EADFB788;
}
.result.saved>.score {
  background-color: #f1efec;
  border: inset 3px #f0e9d04d;

}

#resultat {
  font-size: 30px;
  text-align: center;
  width: 100%;
}