.container {
  display: block;
  width: 360px;
  margin: auto;
}

.dices {
  display: flex;
  justify-content: space-evenly;
}

.dice {
  display: block;
  padding: 10px;
  cursor: pointer;
  background: #ddd;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 5px;
  line-height: 40px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.selected {
  background: rgb(169, 186, 223);
}

button {
  padding: 30px;
}

#resultat {
  font-size: 30px;
  text-align: center;
  width: 100%;
}